@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo2-VariableFont_wght.ttf") format("truetype"); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype"); /* Adjust the path as needed */
  font-weight: normal;
  font-style: italic;
}

:root {
  --tausta: rgb(0, 0, 0);
  --clr-1: rgb(234, 0, 255);
  --clr-2: rgb(166, 0, 255);
  --clr-3: rgb(0, 255, 149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(48, 47, 47);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

#hero-image {
  height: 50vh;
  width: 100%;
  background: url(IMG/background-burger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

#hero-text {
  position: absolute;
  top: 15%;
  width: 15em;
  height: 10em;
  background: rgba(255, 255, 255, 0.884);
  color: rgb(234, 0, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 5000px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #00000000;
  padding: 10px;
  margin: 10px;
  gap: 15px 10px;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.295);
  border: 4px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 16px;
}

.grid-item p {
  color: rgb(234, 0, 255);
  font-size: 15px;
}

.grid-item h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.grid-item h3 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#diet-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(234, 0, 255);
  text-align: center;
  margin-bottom: 15px;
}

#diets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#dietary-options {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#dietary-options button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000; /* Tomato color */
  color: white;
  cursor: pointer;
  transition: background-color 1.2s;
  border-radius: 16px;
}

#dietary-options button:hover {
  background-color: #ff00b3; /* OrangeRed color */
}

.info-box {
  position: absolute;
  float: left;
  height: 250px;
  width: 50%;
  border: 1px solid var(--tausta);
  background-color: var(--tausta);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.784);
  margin-top: 15%;
}

#site-title {
  display: flex;
}

#info {
  float: left;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 195);
  /*width: 50%;
      height: 41%;*/
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  color: rgb(255, 0, 153);
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: white;
  display: inline;
}

#nav-bar {
  color: rgb(43, 226, 183);
  display: inline;
  text-align: center;
  width: 100vw;
  padding-bottom: 10px;
  position: relative;
}

@media (orientation: Portrait) {
  #top-box {
    display: column;
  }
  #hero-image {
    margin-bottom: 10px;
    height: 50%;
    width: 100%;
  }
  #info.info-box {
    height: 15vh;
    width: 100%;
  }
}

.top-box {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: var(--tausta);
  position: relative;
  color: rgb(0, 174, 255);
  border: 3px solid black;
  border-radius: 35;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.435);
  text-align: center;
}

.top-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-box::before,
.top-box::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: var(--clr-1);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.top-box::after {
  filter: blur(4.5rem);
}

.footer {
  background-color: var(--tausta);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

ul {
  margin: auto;
  /* float: right; */
}

li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#Info-title {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

#Into-text {
  top: auto;
  text-align: center;
  color: white;
  margin-top: 10px;
}

#middle-text {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.burger {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px auto;
  border: 2px solid;
  float: right;
  clear: left;
  border: 2px solid;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 70px;
  box-shadow: 2px 2px 4px var(--tausta);
  right: 0;
  top: -30px;
}

.burger::after {
  content: "";
  clear: both;
  display: table;
}

#home {
  font-size: 28px;
  padding-right: 10px;
}

#menu {
  font-size: 28px;
  padding-right: 10px;
  padding-left: 10px;
}

#contact {
  font-size: 28px;
  padding-right: 10px;
  padding-left: 10px;
}

#login {
  margin-right: 28px;
  margin-bottom: 10px;
  align-self: flex-end;
  transition: transform 0.7s ease-out;
}

#login img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  overflow: hidden;
  transition: transform 0.7s ease-out;
}
#login:hover,
#login img:hover {
  transform: scale(1.1);
}

dialog[open] {
  opacity: 1;
}

dialog {
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
  background-color: #00000000;
}

::backdrop {
  background-color: var(--tausta);
  opacity: 0.75;
}

dialog[open]::backdrop {
  background-color: var(--tausta);
  backdrop-filter: blur(7px);
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.514);
}

#form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  transition: border-color 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
}

#form input:user-invalid {
  border-color: red;
}

#form input:valid {
  border-color: green;
}

#form button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--tausta);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 170);
}

#close {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--tausta);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 212);
}

@media (max-width: 480px) {
  #hero-image {
    height: 30vh;
    background-size: contain;
  }

  #hero-text {
    padding: 5px;
    font-size: 1em;
  }

  .info-box {
    width: 100%;
    margin-top: 10px;
  }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #hero-image {
    height: 40vh;
  }

  #hero-text {
    padding: 10px;
  }

  .info-box {
    width: 80%;
    margin-top: 10px;
  }
}

/* Desktops (769px and up) */
@media (min-width: 769px) {
  #hero-image {
    height: 50vh;
  }

  #hero-text {
    padding: 20px;
  }

  .info-box {
    width: 50%;
    margin-top: 15%;
  }
}
